.App {
  text-align: center;
  background-image: url("./imgs/paper.jfif");
}

#content {
  margin: 0 14% 0 14%;
  display: flex;
  flex-direction: column;
}

img {
  height: 160px;
  width: 160px;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#logo {
  width: 400px;
  height: 150px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
}


#gameboard div {
  font-family: "Indie Flower";
  font-weight: 600;
  border-radius: 5px;
  padding: 1rem 0.5rem 0 0.5rem;
  background-image: linear-gradient(to bottom right, rgb(154, 159, 167), white)
}

#gameboard img {
  border-radius: 5px;
}

#gameboard div:hover {
  box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
}

#gameboard p {
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid rgb(192, 192, 192);
  padding: 0.2em;
  background-color: white;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 100%;
  padding-bottom: 1rem;
}

#scoreboard {
  width: 15rem;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  background-color: rgb(101, 132, 189);
}

#scoreboard p {
  color: white;
  margin: 1em;
}

#tooltip {
  position: relative;
  width: 15rem;
  font-size: 1rempx;
  text-align: start;
}

#tooltip img {
  max-height: 3em;
  max-width: 3em;
}


#instructions {
  display: none;
  position: absolute;
  top: -100%;

  background-color: rgba(82, 82, 82, 0.7);
  color: white;
  padding: 1em;
  font-size: 18px;
}


